.p-menubar {
    background-color: #007bff;
    border-radius: 8px;
  }
  
  .p-menubar .p-menuitem-link {
    color: white !important;
  }
  
  .p-menubar .p-menuitem-link:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  