<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="grid">
      <div class="col-6">
          <div class="p-field">
              <label for="roles">{{ 'ROLES' | translate }}</label>
              <p-multiSelect [options]="rolesOptions" [(ngModel)]="selectedRoles"
              formControlName="roles" optionLabel="name" placeholder="{{ 'SELECT_ROLES' | translate }}"></p-multiSelect>
          </div>
      </div>
  
      <div class="col-6">
          <div class="p-field">
              <label for="firstName">{{ 'FIRST_NAME' | translate }}</label>
              <input type="text" pInputText id="firstName" formControlName="firstName" />
              <p-message *ngIf="hasError(userForm,'firstName','required')" severity="warn" text="{{ 'FIELD_REQUIRED' | translate }}"></p-message>
          </div>
      </div>
      
      <div class="col-6">
          <div class="p-field">
              <label for="lastName">{{ 'LAST_NAME' | translate }}</label>
              <input type="text" pInputText id="lastName" formControlName="lastName" />
              <p-message *ngIf="hasError(userForm,'lastName','required')" severity="warn" text="{{ 'FIELD_REQUIRED' | translate }}"></p-message>
          </div>
      </div>
  
      <div class="col-6">
          <div class="p-field">
              <label for="userName">{{ 'USERNAME' | translate }}</label>
              <input type="text" pInputText id="userName" formControlName="userName" />
              <p-message *ngIf="hasError(userForm,'userName','required')" severity="warn" text="{{ 'FIELD_REQUIRED' | translate }}"></p-message>
          </div>
      </div>
      
      <div class="col-6">
          <div class="p-field">
              <label for="email">{{ 'EMAIL' | translate }}</label>
              <input type="email" pInputText id="email" formControlName="email" />
              <p-message *ngIf="hasError(userForm,'email','required')" severity="warn" text="{{ 'FIELD_REQUIRED' | translate }}"></p-message>
              <p-message *ngIf="hasError(userForm,'email','email')" severity="error" text="{{ 'VALID_EMAIL_REQUIRED' | translate }}"></p-message>
          </div>
      </div>
  
      <div class="col-6">
          <div class="p-field">
              <label for="password">{{ 'PASSWORD' | translate }}</label>
              <!-- <p-password [toggleMask]="true" id="password" formControlName="password"></p-password> -->
              <input type="password" pInputText id="password" formControlName="password" />
              <p-message *ngIf="hasError(userForm,'password','required')" severity="warn" text="{{ 'PASSWORD_REQUIRED' | translate }}"></p-message>
              <p-message *ngIf="hasError(userForm,'password','pattern')" severity="error" text="{{ 'PASSWORD_PATTERN_ERROR' | translate }}"></p-message>
          </div>
      </div>
    </div>
  
      <div *ngIf="errorMessage" class="p-message p-message-error">
          <p>{{ errorMessage }}</p>
      </div>
  
    <div class="dialg-btns">
          <button pButton type="button" (click)="onCancel()" class="p-button-secondary">{{ 'CANCEL' | translate }}</button>
          <button pButton type="submit" [disabled]="userForm.invalid || !userForm.touched">{{ 'SAVE' | translate }}</button>
    </div>
  </form>
  