<div class="login-container">
    <p-card header="{{ 'LOGIN' | translate }}" class="login-card">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="grid">

                <div class="col-12">
                    <div class="p-field">
                        <label for="userName">{{ 'USERNAME' | translate }}</label>
                        <input type="text" pInputText id="userName" formControlName="userName" />
                        <p-message *ngIf="hasError(loginForm,'userName','required')" severity="warn" text="{{ 'FIELD_REQUIRED' | translate }}"></p-message>
                    </div>
                </div>

                <div class="col-12">
                    <div class="p-field">
                        <label for="password">{{ 'PASSWORD' | translate }}</label>
                        <p-password id="password" formControlName="password"></p-password>
                        <p-message *ngIf="hasError(loginForm,'password','required')" severity="warn" text="{{ 'PASSWORD_REQUIRED' | translate }}"></p-message>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <p class="text-center">
                    <a (click)="goToRegister()" class="create-account-link">
                        {{ 'CREATE_ACCOUNT' | translate }}
                    </a>
                </p>
            </div>

            <div *ngIf="errorMessage" class="p-message p-message-error">
                <p>{{ errorMessage }}</p>
            </div>
            
            <div class="p-field text-center">
                <button pButton type="submit" label="{{ 'LOGIN' | translate }}" [disabled]="!loginForm.valid"></button>
            </div>
        </form>
    </p-card>
</div>
