.unauthorized-container {
  text-align: center;
  margin-top: 50px;

  h1 {
    font-size: 2rem;
    color: #d9534f;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  .go-home-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
}
