<div class="register-container">
    <p-card header="{{ 'REGISTER' | translate }}" class="register-card">
        <form [formGroup]="registerForm" (ngSubmit)="register()">
            <div class="grid">
                <div class="col-12 md:col-6">
                    <div class="p-field">
                        <label for="firstName">{{ 'FIRST_NAME' | translate }}</label>
                        <input type="text" pInputText id="firstName" formControlName="firstName" />
                        <p-message *ngIf="hasError(registerForm,'firstName','required')" severity="warn" text="{{ 'FIELD_REQUIRED' | translate }}"></p-message>
                    </div>
                </div>
                
                <div class="col-12 md:col-6">
                    <div class="p-field">
                        <label for="lastName">{{ 'LAST_NAME' | translate }}</label>
                        <input type="text" pInputText id="lastName" formControlName="lastName" />
                        <p-message *ngIf="hasError(registerForm,'lastName','required')" severity="warn" text="{{ 'FIELD_REQUIRED' | translate }}"></p-message>
                    </div>
                </div>

                <div class="col-12 md:col-6">
                    <div class="p-field">
                        <label for="userName">{{ 'USERNAME' | translate }}</label>
                        <input type="text" pInputText id="userName" formControlName="userName" />
                        <p-message *ngIf="hasError(registerForm,'userName','required')" severity="warn" text="{{ 'FIELD_REQUIRED' | translate }}"></p-message>
                    </div>
                </div>
                
                <div class="col-12 md:col-6">
                    <div class="p-field">
                        <label for="email">{{ 'EMAIL' | translate }}</label>
                        <input type="email" pInputText id="email" formControlName="email" />
                        <p-message *ngIf="hasError(registerForm,'email','required')" severity="warn" text="{{ 'FIELD_REQUIRED' | translate }}"></p-message>
                        <p-message *ngIf="hasError(registerForm,'email','email')" severity="error" text="{{ 'VALID_EMAIL_REQUIRED' | translate }}"></p-message>
                    </div>
                </div>

                <div class="col-12 md:col-6">
                    <div class="p-field">
                        <label for="password">{{ 'PASSWORD' | translate }}</label>
                        <!-- <p-password [toggleMask]="true" id="password" formControlName="password"></p-password> -->
                        <input type="password" pInputText id="password" formControlName="password" />
                        <p-message *ngIf="hasError(registerForm,'password','required')" severity="warn" text="{{ 'PASSWORD_REQUIRED' | translate }}"></p-message>
                        <p-message *ngIf="hasError(registerForm,'password','pattern')" severity="error" text="{{ 'PASSWORD_PATTERN_ERROR' | translate }}"></p-message>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <p class="text-center">
                    <a (click)="goToLogin()" class="create-account-link">
                        {{ 'LOGIN' | translate }}
                    </a>
                </p>
            </div>

            <div *ngIf="errorMessage" class="p-message p-message-error">
                <p>{{ errorMessage }}</p>
            </div>
            
            <div class="p-field text-center">
                <button pButton type="submit" label="{{ 'REGISTER' | translate }}" [disabled]="!registerForm.valid"></button>
            </div>
        </form>
    </p-card>
</div>



