<div class="card">
    <div class="page-header">
        <h2>{{ 'MANAGE_USERS' | translate }}</h2>
    </div>

    <div class="p-grid mb-2">
        <div class="p-col-12 p-md-6 p-lg-4">
            <p-button label="Primary" variant="outlined" size="small" label="{{ 'ADD_USER' | translate }}" (onClick)="openCreateUserDialog()" icon="pi pi-plus" ></p-button>
        </div>
    </div>

    <p-table [columns]="cols" [value]="usersData" [tableStyle]="{ 'min-width': '50rem' } ">
        <ng-template #header let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{ col.header | translate }}
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-user let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    <ng-container *ngIf="col.field === 'roles'">
                        <span>{{ getRoleNames(user[col.field]) }}</span>
                    </ng-container>
                      
                    <ng-container *ngIf="col.isDate && col.field !== 'roles'">
                        <span>{{ user[col.field] | date: 'dd/MM/yyyy' }}</span>
                    </ng-container>

                    <ng-container *ngIf="!col.isDate && col.field !== 'roles'">
                        <span>{{ user[col.field] }}</span>
                    </ng-container>

                    <!-- Action Buttons Column -->
                    <ng-container *ngIf="col.field === 'action'">
                        <p-button variant="outlined" severity="info" size="small" type="button" icon="pi pi-pencil" class="m-1"
                        (click)="openUpdateUserDialog(user.userId)" title="Edit"></p-button>

                        <p-button severity="danger" variant="outlined" size="small" type="button" icon="pi pi-trash" class="m-1"
                        (click)="confirmDeleteUser(user.userId)" title="Delete"></p-button>
                    </ng-container>
                </td> 
            </tr>
        </ng-template>
    </p-table>

    <my-pagination 
        [totalPages]="totalPages" [pageIndex]="pageIndex"
        (pageChange)="onPageChange($event)" *ngIf="usersData && usersData.length > 0">
    </my-pagination>
</div>
<p-confirmDialog></p-confirmDialog>


<div class="card flex justify-center">
    <p-toast position="bottom-right" key="br" />
</div>
